body,
html {
    margin: 0;
}

body {
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}

.h1-header h1 {
    height: 100%;
    margin: 40px 0px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3#contador {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-header {
    width: 26%;
}

/* .experto {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(186, 186, 244);
}

.principiante {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    font-size: 50px;
    cursor: pointer;
    background-color: rgb(186, 186, 244);
} */

/* .entrada {
    position: fixed;
    top: 0;
    left: -30;
    width: 60%;
    height: auto;
} */

.contenedor-nav {
    height: 100%;
    margin: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-name {
    margin: 18px;
}

input#name {
    width: 282px;
    height: 30px;
    border-radius: 145px;
    padding-left: 1rem;
    background: #fff;
    border: 1px solid #2ac6ba;
}

.filtros {
    display: flex;
    flex-direction: row;
}

select#opciones {
    width: 158px;
    height: 30px;
    border-radius: 145px;
    padding-left: 0.5rem;
    background: #fff;
    border: 1px solid #2ac6ba;
    margin-right: 50px;
    margin-left: 10px;
}

select#opcions-order {
    margin-right: 50px;
    width: 158px;
    height: 30px;
    border-radius: 145px;
    padding-left: 0.5rem;
    background: #fff;
    border: 1px solid #2ac6ba;
    margin-right: 50px;
    margin-left: 10px;
}

#btn-buscar {
    width: 50px;
    height: 33px;
}

h2 {
    display: none;
}


button {
    width: 112px;
    height: 30px;
    border-radius: 145px;
    margin-right: 21px;
    background: #2ac6ba;
    border: 1px;
    color: #fff;
}

#list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}

ul{
    width: auto;
    height: auto;
    list-style-type: none;
}

.tarjeta-pokemon{
    width: 100%;
    height: auto;   
}
.card {
    width: 330px;
    height: auto;
    margin: 11px 0px 11px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* background-color: #2ac6ba; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ffffff;
}

.containerName {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-around;
    /* background: #2ac6ba; */
}

dl.containerName {
    margin-top: 6px;
}

dt[itemprop="name"] {
    display: inline-block;
    margin-left: 15px;
}

dt[itemprop="num"] {
    display: inline-block;
    margin-right: 13px;
}

.img-avatar {
    width: 39%;
    margin: 40px 0px 0px 90px;
    height: auto;
}

.class-dt {
    margin: 18px;
}

dt.class-tipo {
    width: 60%;
    height: auto;
    display: flex;
    margin-bottom: 53px;
    justify-content: space-around;
    border-radius: 30px;
}

.container-habilities {
    display: flex;
    justify-content: right;
    flex-direction: row;
    padding: 2px 44px;
    background-color: #ffffff;
    margin: 3px 0px 0px 0px;
    border-radius: 0px 0px 10px 10px;
}

.containerProp {
    display: flex;
    padding: 2px 24px;
    background-color: #ffffff;
    margin: 0px;
    border-radius: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}



.class-slice {
    width: 330px;
    border-top: 2px solid black;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 143px;
    background-color: black;
    color: #fff;
}

.p-footer {
    margin-top: 76px;
}


@media screen and (min-width: 360px) and (max-width: 767px) {
    h1-header h1 {
        height: 100%;
        width: 100%;
    }

    .img-header {
        width: 70%;
    }

    .input-name {
        margin-left: 71px;
    }

    .filtros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-wrap: nowrap;
        width: 78%;
        height: auto;
    }
    .options {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    select#opciones, select#opcions-order {
        width: 100%;
        height: 30px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .order {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 10px;
        margin-left: 17px;
    }

    .button {
        width: 105%;
        height: auto;
        display: flex;
        flex-direction: row;
        padding-top: 13px;
        margin: 17px;
    }

    section#root {
        width: 100%;
        height: auto;
        display: flex;
        
    }

    #list {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        padding-left: 40px;
        padding-right: 40px;
    }

    
}